rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userID}/{document=**} {
      allow get: if request.auth != null && ( request.auth.uid == userID || request.auth.token.role == "admin");
      allow list: if request.auth != null && ( request.auth.uid == userID || request.auth.token.role == "admin");
      allow create: if request.auth != null && request.auth.token.role == "admin";
      allow update: if request.auth != null && ( request.auth.uid == userID || request.auth.token.role == "admin");
      allow delete: if request.auth != null && request.auth.token.role == "admin";
    }
  }
}